#canvas {
    -fx-background-color: black, white;
    -fx-background-insets: 0, 2 ;
    -fx-padding: 5;
}

#MainScene {
    -fx-background-image: url("../texture/background_default.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 800 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#BattleScrollPane {
    -fx-background-color: grey;
}

.pane {
    -fx-background-color: ghostwhite;
}

.progress-bar {
    -fx-accent: green;
    /*noinspection CssInvalidFunction*/
    -fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        -fx-accent 0%,
        -fx-accent 49%,
        derive(-fx-accent, 30%) 50%,
        derive(-fx-accent, 30%) 99%
        );
}

.land-empty {
    -fx-image: url("../texture/battlemap/sqr_empty.png");
}

.land-empty:hover {
    -fx-image: url("../texture/battlemap/sqr_empty_selected.png");
}

.land-obstacle {
    -fx-image: url("../texture/battlemap/sqr_obstacle.png");
}

.land-obstacle:hover {
    -fx-image: url("../texture/battlemap/sqr_obstacle_selected.png");
}

.land-impassable {
    -fx-image: url("../texture/battlemap/sqr_impassable.png");
}

.land-impassable:hover {
    -fx-image: url("../texture/battlemap/sqr_impassable_selected.png");
}

.land-friendly {
    -fx-image: url("../texture/battlemap/sqr_friendly.png");
}

.land-friendly:hover {
    -fx-image: url("../texture/battlemap/sqr_friendly_selected.png");
}

.land-movable-friendly {
    -fx-image: url("../texture/battlemap/sqr_friendly_dashed.png");
}

.land-movable-friendly:hover {
    -fx-image: url("../texture/battlemap/sqr_friendly_selected.png");
}

.land-hostile {
    -fx-image: url("../texture/battlemap/sqr_hostile.png");
}

.land-hostile:hover {
    -fx-image: url("../texture/battlemap/sqr_hostile_selected.png");
}

.land-movable-hostile {
    -fx-image: url("../texture/battlemap/sqr_hostile_dashed.png");
}

.land-movable-hostile:hover {
    -fx-image: url("../texture/battlemap/sqr_hostile_selected.png");
}

.land-contested {
    -fx-image: url("../texture/battlemap/sqr_contested.png");
}

.land-contested:hover {
    -fx-image: url("../texture/battlemap/sqr_contested_selected.png");
}

.land-movable-contested {
    -fx-image: url("../texture/battlemap/sqr_contested_dashed.png");
}

.land-movable-contested:hover {
    -fx-image: url("../texture/battlemap/sqr_contested_selected.png");
}

.land-objective {
    -fx-image: url("../texture/battlemap/sqr_objective.png");
}

.land-objective:hover {
    -fx-image: url("../texture/battlemap/sqr_objective_selected.png");
}

.land-movable-objective {
    -fx-image: url("../texture/battlemap/sqr_objective_dashed.png");
}

.land-movable-objective:hover {
    -fx-image: url("../texture/battlemap/sqr_objective_selected.png");
}

.growWhenHover {

}

.growWhenHover:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}